[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
openai = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
uvicorn = "*"
requests = "*"
playwright = "*"
google-genai = "*"
black = "*"
anthropic = "*"

[dev-packages]

[requires]
python_version = "3.13"
